# Klik 5: WIZUALIZACJE DANYCH

11:05 - 12:10

Jest ogromna ilość danych których nie mogę zrozumieć bo te dane bez podzielenia nie dają się modelować, modele wychodzą bardzo słabe. Zacznę od zbadania danych pod kontem ich właściwości w grupach wewnątrz zmiennych.

In [8]:
import pandas as pd

df = pd.read_csv('/home/wojciech/Pulpit/4/kliki_uczenie2.csv')
df.columns

Index(['Unnamed: 0', 'klik', 'CYF_baner_pozycja', 'CYF_strona_id',
       'CYF_strona_domena', 'CYF_strona_kategoria', 'CYF_aplikacja_id',
       'CYF_aplikacja_domena', 'CYF_aplikacja_kategoria', 'CYF_urz_id',
       'CYF_urz_ip', 'CYF_urz_model', 'CYF_urz_typ', 'CYF_urz_polaczenie',
       'CYF_kat1', 'CYF_kat2', 'CYF_kat3', 'CYF_kat4', 'CYF_kat5', 'CYF_kat6',
       'CYF_kat7', 'CYF_kat8', 'CYF_kat9', 'CYF_data_godzina',
       'CYF_KL_strona_id', 'CYF_KL_aplikacja_id', 'CYF_KL_aplikacja_domena',
       'CYF_KL4_aplikacja_kategoria', 'CYF_KL0_aplikacja_kategoria',
       'CYF_KL_kat3', 'CYF_KL_kat4', 'CYF_KL1_kat6', 'CYF_KL2_kat6',
       'CYF_KL1_kat9', 'CYF_KL2_kat9', 'CYF_KL3_kat9', 'CYF_KL1_kat7', 'NZS1',
       'NZS2', 'NZS3', 'NZS4', 'NZS5', 'NZS6', 'NZS7', 'NZS8', 'NZS9'],
      dtype='object')

In [9]:
df.head(2)

,Unnamed: 0,klik,CYF_baner_pozycja,CYF_strona_id,CYF_strona_domena,CYF_strona_kategoria,CYF_aplikacja_id,CYF_aplikacja_domena,CYF_aplikacja_kategoria,CYF_urz_id,...,CYF_KL1_kat7,NZS1,NZS2,NZS3,NZS4,NZS5,NZS6,NZS7,NZS8,NZS9
0,0,0,0,1773,3205,6,4718,134,4,307295,...,0,7,2,0,2,2,-1,4,17,inf
1,1,0,0,406,3944,2,4353,123,0,307295,...,0,7,9,0,2,2,1,3,12,1.0